version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: conlang-parser-dev
    working_dir: /app
    volumes:
      - .:/app
      - node_modules_data:/app/node_modules
    command: sh -c "tail -f /dev/null"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
volumes:
  node_modules_data: